---
import Layout from "@/layouts/Layout.astro";

import AboutMe from "@/components/AboutMe.astro";
import Briefcase from "@/components/icons/Briefcase.astro";
import CodeIcon from "@/components/icons/Code.astro";
import Experience from "@/components/Experience.astro";
import ProfileCheck from "@/components/icons/ProfileCheck.astro";
import Projects from "@/components/Projects.astro";
import SectionContainer from "@/components/SectionContainer.astro";
import Hero from "@/components/Hero.astro";
import TitleSection from "@/components/TitleSection.astro";
import { getLangFromUrl, useTranslations } from "@/i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<Layout title={t("home.title")} description={t("home.description")}>
  <main>
    <SectionContainer class="py-20 md:py-36">
      <Hero />
    </SectionContainer>
  </main>
  <div class="space-y-24">
    <SectionContainer id="experience">
      <TitleSection>
        <Briefcase class="size-8" />
        {t("experience.title")}
      </TitleSection>
      <Experience />
    </SectionContainer>

    <SectionContainer id="projects">
      <TitleSection>
        <CodeIcon class="size-7" />
        {t("projects.title")}
      </TitleSection>
      <Projects />
    </SectionContainer>

    <SectionContainer id="about-me">
      <TitleSection>
        <ProfileCheck class="size-8" />
        {t("about.title")}
      </TitleSection>
      <AboutMe />
    </SectionContainer>
  </div>
</Layout>
