---
import { getLangFromUrl, useTranslations } from "@/i18n/utils";
import ExperienceItem from "./ExperienceItem.astro";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

const EXPERIENCE = [
  {
    date: t("experience.jex.date"),
    title: t("experience.jex.title"),
    company: "Jex",
    description: t("experience.jex.description"),
    link: "https://jex.global",
  },
];
---

<ol class="relative mt-16">
  {
    EXPERIENCE.map((experience) => (
      <li class="">
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>
