---
const personalImageAlt = "Pedro Enrique";
import Badge from "@/components/Badge.astro";
import LinkedInIcon from "@/components/icons/LinkedIn.astro";
import MailIcon from "@/components/icons/Mail.astro";
import SocialPill from "@/components/SocialPill.astro";
import GitHub from "./icons/GitHub.astro";
---

<div class="max-w-2xl">
  <div class="flex gap-4 mb-4">
    <div
      class="size-16 rounded-full bg-gradient-radial dark:from-sky-700 from-sky-500 dark:to-gray-900 to-sky-700"
    >
      <img
        class="shadow-lg object-cover w-full h-full rounded-full"
        src="/drope.webp"
        alt={personalImageAlt}
      />
    </div>
    <a
      href="https://linkedin.com/in/pedro-characayo-7ba279174"
      target="_blank"
      rel="noopener"
      class="flex items-center transition md:justify-center md:hover:scale-105"
    >
      <Badge>Disponible para trabajar</Badge>
    </a>
  </div>
  <div class="flex min-h-10">
    <h1
      id="typed-text"
      class="text-xl md:text-4xl font-bold tracking-tight text-gray-800 sm:text-5xl dark:text-white"
    >
    </h1>
    <span class="cursor-bar bg-blue-900/90 dark:bg-white w-1 h-5 md:h-10 ml-1"
    ></span>
  </div>
  <p
    class="mt-6 text-xl text-gray-800 dark:[&>strong]:text-blue-500 [&>strong]:text-blue-500 [&>strong]:font-semibold dark:text-gray-300"
  >
    +1 año de experiencia.
    <strong> Ingeniero de Sistemas y Desarrollador Web Full Stack</strong>
    de Santa Cruz, Bolivia 🇧🇴. Especializado en el desarrollo de aplicaciones web.
  </p>
  <nav class="flex flex-wrap gap-4 mt-8">
    <SocialPill href="mailto:pedro22enriqu@gmail.com">
      <MailIcon class="size-4" />
      Contáctame
    </SocialPill>
    <SocialPill href="https://linkedin.com/in/pedro-characayo-7ba279174">
      <LinkedInIcon class="size-4" />
      LinkedIn
    </SocialPill>
    <SocialPill href="https://github.com/Pedro-CV">
      <GitHub class="size-4" />
      GitHub
    </SocialPill>
  </nav>
</div>

<style>
  @keyframes blink {
    50% {
      opacity: 0;
    }
  }

  .typewriter {
    animation: blink 1s step-end infinite;
  }

  .cursor-bar {
    animation: blink 0.7s step-end infinite;
  }
</style>

<script>
  const texts = [
    "Hey, soy Pedro Enrique",
    "Desarrollador Full Stack",
    "Especialidad: Frontend",
  ];
  const typingSpeed = 100;
  const delayBetweenTexts = 2000;
  let currentTextIndex = 0;
  let index = 0;
  const typedTextElement = document.getElementById("typed-text");

  const typeText = () => {
    if (typedTextElement)
      if (index < texts[currentTextIndex].length) {
        typedTextElement.innerHTML += texts[currentTextIndex].charAt(index);
        index++;
        setTimeout(typeText, typingSpeed);
      } else {
        setTimeout(deleteText, delayBetweenTexts);
      }
  };

  const deleteText = () => {
    if (index >= 0 && typedTextElement) {
      typedTextElement.innerHTML = texts[currentTextIndex].substring(0, index);
      index--;
      setTimeout(deleteText, typingSpeed / 2);
    } else {
      currentTextIndex = (currentTextIndex + 1) % texts.length;
      setTimeout(typeText, typingSpeed);
    }
  };

  typeText();
</script>
