---
const personalImageAlt = "Pedro Enrique";
import Badge from "@/components/Badge.astro";
import LinkedInIcon from "@/components/icons/LinkedIn.astro";
import MailIcon from "@/components/icons/Mail.astro";
import SocialPill from "@/components/SocialPill.astro";
import GitHub from "./icons/GitHub.astro";
import { getLangFromUrl, useTranslations } from "@/i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

const texts = [t("hero.title1"), t("hero.title2"), t("hero.title3")];

const title = "Bienvenido a mi p치gina de Astro";
const description = "Esta es una descripci칩n que se usar치 m치s adelante.";
---

<div class="max-w-2xl">
  <div class="flex gap-4 mb-4">
    <div
      class="size-16 rounded-full bg-gradient-radial dark:from-sky-700 from-sky-500 dark:to-gray-900 to-sky-700"
    >
      <img
        class="shadow-lg object-cover w-full h-full rounded-full"
        src="/drope.webp"
        alt={personalImageAlt}
      />
    </div>
    <a
      href="https://linkedin.com/in/pedro-characayo-7ba279174"
      target="_blank"
      rel="noopener"
      class="flex items-center transition md:justify-center md:hover:scale-105"
    >
      <Badge>
        {t("hero.badge")}
      </Badge>
    </a>
  </div>
  <div class="flex min-h-10">
    <h1
      id="typed-text"
      class="text-xl md:text-4xl font-bold tracking-tight text-gray-800 sm:text-5xl dark:text-white"
    >
    </h1>
    <span class="cursor-bar bg-blue-900/90 dark:bg-white w-1 h-5 md:h-10 ml-1"
    ></span>
  </div>
  <p
    class="mt-6 text-xl text-gray-800 dark:[&>strong]:text-blue-500 [&>strong]:text-blue-500 [&>strong]:font-semibold dark:text-gray-300"
    set:html={t("hero.description")}
  />
  <nav class="flex flex-wrap gap-4 mt-8">
    <SocialPill href="mailto:pedro22enriqu@gmail.com">
      <MailIcon class="size-4" />
      {t("hero.contactme")}
    </SocialPill>
    <SocialPill href="https://linkedin.com/in/pedro-characayo-7ba279174">
      <LinkedInIcon class="size-4" />
      LinkedIn
    </SocialPill>
    <SocialPill href="https://github.com/pedro-cv">
      <GitHub class="size-4" />
      GitHub
    </SocialPill>
  </nav>
</div>

<style>
  @keyframes blink {
    50% {
      opacity: 0;
    }
  }

  .typewriter {
    animation: blink 1s step-end infinite;
  }

  .cursor-bar {
    animation: blink 0.7s step-end infinite;
  }
</style>

<script define:vars={{ texts }}>
  const typingSpeed = 100;
  const delayBetweenTexts = 2000;
  let currentTextIndex = 0;
  let index = 0;
  const typedTextElement = document.getElementById("typed-text");

  const typeText = () => {
    if (typedTextElement)
      if (index < texts[currentTextIndex].length) {
        typedTextElement.innerHTML += texts[currentTextIndex].charAt(index);
        index++;
        setTimeout(typeText, typingSpeed);
      } else {
        setTimeout(deleteText, delayBetweenTexts);
      }
  };

  const deleteText = () => {
    if (typedTextElement) {
      typedTextElement.innerHTML = "";
      index = 0;
      currentTextIndex = (currentTextIndex + 1) % texts.length;
      setTimeout(typeText, typingSpeed);
    }
  };

  typeText();
</script>
